* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: lightgray;
}

header .logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: -1px;
  /* font-size: xx-large; */
}

header .menu-items {
  font-family: sans-serif;
  font-size: x-small;
}

header {
  height: 80px;
}

header .container,
header .container div {
  height: 100%;
}

img.person {
  width: 30px;
  height: 30px;
}

img.bag {
  width: 20px;
  height: 20px;
}
